{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.date.label }}<br>
            {{ form.date(class="form-control") }}<br>
            {% for error in form.date.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.breakfast.label }}<br>
            {{ form.breakfast(class="form-control") }}<br>
            {% for error in form.breakfast.errors %}
                <p content="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.lunch.label }}<br>
            {{ form.lunch(class="form-control") }}<br>
            {% for error in form.lunch.errors %}
                <p content="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.dinner.label }}<br>
            {{ form.dinner(class="form-control") }}<br>
            {% for error in form.dinner.errors %}
                <p content="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.is_private() }} {{ form.is_private.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{message}}
    </form>
{% endblock %}
