{% extends "base.html" %}

{% block content %}
{% if not current_user.is_authenticated %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 style="text-align: center">Добро пожаловать в Calory Counter</h1>
{% else %}
    <h1 style="text-align: center">Главная</h1>
    <p1>BMR = {{bmr}}</p1>
    <br>
    <a href="/activities" class="btn btn-secondary">Добавить меню на день</a>
    {% for item in activities%}
    <div class="col-md6 border rounded">
        <h2>{{item.date}}</h2>
        <div>
            Автор - {{item.user.name}}, Дата изменения - {{item.created_date}}
        </div>
        {% if current_user.is_authenticated and current_user == item.user %}
        <div>
            <a href="/activities/{{ item.id }}" class="btn btn-warning">
                Изменить
            </a>
            <a href="/activities_delete/{{ item.id }}" class="btn btn-danger">
                Удалить
            </a>
        </div>
        {% endif %}
    </div>
    {% endfor %}
{% endif %}
{% endblock %}